
@model LojaVirtualCleiton.Models.ProdutoViewModel
@{ 
    ViewBag.Title = Model == null || Model.Id == null ? "Novo Produto" : "Editando Produto";
}

<h2>@(Model == null || Model.Id == null ? "Novo Produto" : "Editando Produto") </h2>

@using (Html.BeginForm("Editar", "Produto", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Criar novo produto</h4>
    <hr />

    @Html.HiddenFor(model => model.Id)

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Categoria, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
           @Html.DropDownListFor(m => m.Categoria.Id,
                                  new SelectList(Model.Categorias, "Id", "Nome"),
                                  new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Fornecedor, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Fornecedor.Id,
                                  new SelectList(Model.Fornecedores, "Id", "Nome"),
                                  new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Salvar" />
        </div>
    </div>
}


